/* CSS Document */
body {
  /* Typ písma bude Arial nebo sans-serif */
  font-family: Arial, sans-serif;
  /* Barva pozadí bude světle šedá */
  background-color: lightgray;
}

/* Selektor pro oddíl označený ID obal */
#obal {
  /* Maximální šířka 960 px */
  max-width: 960px;
  /* Nastav okraje tak, aby byl blok obal na stránce vycentrován */
  margin: 0 auto;
  /* Ohrani�en� - pln� �ed� ��ra o tlou��ce 1 pixel  */
  border: 1px solid gray;
  /* Vnit�n� odsazen� - 20 pixel� */
  padding: 20px;
  /* B�l� barva pozad� */
  background-color: white;
  /* Barva textu - tmav� �ed� odst�n, �estn�ctkov� hodnoty 3 */
  color: #333;
}

/* Selektor pro zna�ku nav */
nav {
  background-color: #222;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
}

/* Pro v�echny odkazy v bloku navigace */
nav a{
  padding: 19px;
  /* Odkazy nebudou podtr�eny */
  color: lightgray;
}

/* Pro v�echny odkazy v bloku navigace p�i p�ejet� kurzoru my�i */ 
nav a:hover{
  color: white;
  background-color: rgb(0,153,204);
}

h1 {
  /* Nadpis bude vycentrov�n */
  text-align: center;
  /* Velikost nadpisu bude dvojn�sobn� vzhledem k z�kladn� velikosti p�sma */
  font-size: 2em;
  /* Nadpis bude tu�n� */
  font-weight: bold;
  /* Barva nadpisu bude toto�n� s barvou zv�razn�n�ho odkazu */
  color: rgb(0,153,204);
  /* Nadpis bude vyps�n velk�mi p�smeny */
  text-transform: uppercase;
  /* V��ka ��dku nadpisu bude 2em */
  line-height: 2em;
}

/* Plat� pro nadpisy h2 i h3 */
h2, h3{
  font-weight: 200px; 
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  color: rgb(102,153,0);
}

h3 { 
  font-size: 1.2em;
  /* Nadpisy budou podtr�eny tenkou te�kovanou �arou, jej� barva bude shodn� s barvou p�sma */ 
  border-bottom: 1px dotted rgb(102,153,0);
}

p, li {
  line-height: 1.5em;
  /* Horn� a spodn� okraj odstavc� i odr�ek budou odsazeny o hodnotu 1em */
  margin: 1em 0;
}

p {
  /* Text odstavc� bude zarovn�n do bloku */
  text-align: justify;
}

li {
  /* Nastavte styl odr�ek tak, aby odpov�dal p�edloze (�tvercov� odr�ka) */
  list-style-type: square;
  list-style-position: outside;
  margin-left: 20px;
}






strong {
  font-weight: bold;
  color: rgb(0,153,204);
}

strong.big {
  font-weight: bold;
  color: black;
}


mark {
  background-color: rgb(102,153,0);
  color: white;
}

abbr {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: red;
}

code {
  font-family: "Courier New", monospace;
}

/* Nastavte pravidlo pro všechny odstavce-poznámky: 
  * na levém okraji bude šedé ohraničení 10px silné
  * text bude zleva odsazen o 50 pixelů
  * použité font bude o 10% menší než základní písmo
  * písmo bude nakloněné (kurzíva)
*/
p.poznamka {
  border-left: 10px solid gray;
  padding-left: 50px;
  font-size: 90%;
  font-style: italic;
}

footer {
  color: gray;
  margin: 10px auto;
  font-size: 80%;
  text-align: center;
  /* Center the footer on the page */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}